.bg1-image1 {
    background-image: url('https://media.istockphoto.com/id/1127443162/photo/coded-stuff-on-screen.jpg?s=612x612&w=0&k=20&c=R1_Zw8A_tuetx0eVNxQUpUJm2djdqIC8m3Mc5gwaX0M=');
}


.bg2-image2 {
    background-image: url('https://media.istockphoto.com/id/1408387701/photo/social-media-marketing-digitally-generated-image-engagement.jpg?s=612x612&w=0&k=20&c=VVAxxwhrZZ7amcPYJr08LLZJTyoBVMN6gyzDk-4CXos=  ');
}

.bg3-image3 {
    background-image: url('https://media.istockphoto.com/id/1359501770/photo/metaverse-concept-magnifyning-glass-with-planet.jpg?s=612x612&w=0&k=20&c=xovwWwJWzxiryEKANQPkpB81AiCPxSozk6QCwTtul7c=');
}